* {
  font-family: 'Arimo', sans-serif;
}

.row {
  margin: 0px;
}

.text > h2 {
  font-weight: 700;
}

body {
  box-sizing: border-box;
  padding: 0;
  font-size: 16px;
}

.main-container .page-content {
  max-width: 1170 px;
  margin: 0 auto;
}

a.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand > img {
  height: 50px;
}

.navbar-default .navbar-nav > li > a {
  color: #aeabab;
}

.navbar {
  margin-bottom: 0px;
  border: 0px;
  max-height: 50px;
  background-color: #fff;
  margin-left: 0px;
  margin-right: 0px;
  width: 1170px;
}

.man-banner {
  background-image: url("img/banner_man.jpg");
  background-position: bottom right;
  background-size: auto 405px;
  width: 1170px;
  height: 405px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 15px;
}

.banner-info h1 {
  font-size: 45px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin: 55px 0px 30px 10px;
}

.banner-info h2 {
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
  line-height: 1.5;
}

.banner-info p {
  font-weight: bold;
  text-align: center;
}

.btn {
  padding: 12px 40px;
  background-image: linear-gradient(to top, #4B80BE 0%, #4B80BE 100%);
  border-color: #4B80BE;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #4B80BE;
}

.container .jumbotron {
  border-radius: 0px;
  padding-top: 0px;
}

.media-list {
  margin-bottom: 15px;
  padding-left: 40px;
}

.media-text h3 {
  margin: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.subscribe-block {
  background-color: #17B7E7;
}
.subscribe-row {
  padding: 40px;
  color: #ffffff;
  font-size: 15px;
}

.subscribe {
  margin-left: 30px;
}

.guests-promo-content {
  margin-left: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.lates-episodes {
  margin-left: 30px;
}

.subscribe h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #ffffff;
  padding-left: 3px;
  font-size: 28px;
}

.subscribe-block > a > img {
  margin-right: 10px;
}

.blue-text {
  color: #17b8e7;
}

.guests-promo-content > div > h2, .page-header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 9px;
}

.promo-row {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lates-episodes-row {
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 25px;
}

div.guest-man > h3, div.caption > h3 {
  margin-top: 0px;
  color: #17b8e7;
}

.guest-man {
  padding-left: 40px;
}

.guest-man > p {
  font-size: 14px;
  line-height: 1.7;
}

.lates-episodes-block {
  background-color: #191919;
  color: #ffffff;
}

.page-header {
  border-bottom: 0px;
}

.caption {
  margin-top: 25px;
}

.caption > p {
  font-size: 14px;
  line-height: 1.7;
}

.caption > p > a:hover {
  color: #17B7E7;
  text-decoration: none;
}

.entries-link {
  margin-left: 50px;
  margin-bottom: 40px;
}

.episodes-button {
  background-color: #191919;
  padding: 5px 10px;
  border: 2px solid #17b8e7;
  width: 200px;
  font-size: 20px;
  margin: 0 auto;
  display: block;
  color: #17b8e7;
}
.caption-button {
  margin: 80px;
}

button:hover {
  color: white;
}

.popular-episodes-text > h3 {
  margin-top: 0px;
  padding-left: 50px;
  font-weight: bold;
}

.popular-episodes > h2 {
  margin-top: 40px;
  margin-bottom: 35px;
}

.episodes-box {
  height: 170px;
}

.social-episodes {
  margin-top: 20px;
  margin-bottom: 30px;
}

.popular-episodes-text > p {
  padding-left: 50px;
  font-size: 14px;
  line-height: 1.7;
}

.social-media > h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: bold;
}

.social-media-box {
  background-color: #CACACA;
  height: 700px;
}

.social-media-links {
  text-align: center;
  list-style: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.7;
  padding-top: 150px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 21px;
}

.footer-text {
  background: #262626;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.consumption {
  margin-top: 20px;
  margin-left: 30px;
}

.consumption-row {
  margin-left: 115px;
  margin-bottom: 70px;
  font-weight: 800;
}

.consumption-container {
  background-color: #CACACA;
}

.footer-container {
  background-color: #191919;
  color: #ffffff;
}
